version: $(VersionPrefix).{build}
image: Visual Studio 2017

skip_branch_with_pr: true
skip_commits:
  files:
    - LICENSE
    - README.md
configuration:
  - Release
environment:
  VersionPrefix: 10.0.0
  VersionSuffix: beta.4
  FileVersion: '%APPVEYOR_BUILD_VERSION%'
  PackageServerApiKey:
    secure: XZmbJDCK5oiqhbLt1y7UXM6aCYPpF2tm/bJMUJzBsCe1fd2TuwXyaz99RN+bDpHw
notifications:
  - provider: Slack
    incoming_webhook:
      secure: c7l1UmXHWpIDLL1awU4r0QYVPToYM/XjV8trFyD1oHArKxs/vBTYiKYScr1EhCUgmEX6sAFBTvkUHF/k5B+cGjzqRBR2XkAO+lzk8cHQ1FI=
  
before_build:
  - nuget restore -Verbosity quiet
build:
  project: toofz.Data.sln
  verbosity: minimal

test_script:
  - ps: |
      $projectPath = Resolve-Path .\test\toofz.Data.Core.Tests\toofz.Data.Core.Tests.csproj
      msbuild $projectPath /nologo /verbosity:minimal /target:Test
      $projectPath = Resolve-Path .\test\toofz.Data.Leaderboards.LeaderboardsStoreClient.Tests\toofz.Data.Leaderboards.LeaderboardsStoreClient.Tests.csproj
      msbuild $projectPath /nologo /verbosity:minimal /target:Test

deploy_script:
  - ps: |
      $projectPath = Resolve-Path .\src\toofz.Data\toofz.Data.csproj
      msbuild $projectPath /nologo /verbosity:minimal /target:Pack /property:PublishPackage=$env:APPVEYOR_REPO_TAG
